<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Dashboard", root_path , class: 'navbar-item'%>
      <%= link_to "Projects", account_projects_path, class: 'navbar-item' %>
    </div>
  </div>
</nav>
